<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
</head>
<body>
    <header>
        <!--LOGO-->
        <div class="container-top-header">
            <div class="container-logo">
                <a href="/">
                    <img src="static/img/logo-mercado-liebre.svg" alt="logo">
                </a>
            </div>
            <div class="form-search">
                <input type="search" placeholder="Buscar productos, marcas">
                <button class="btn-search"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="container-slogan">
            <i class="fa fa-hand-holding-usd"></i>
            <p>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="btn-menu">
            <i class="fa fa-bars"></i>
        </div>
        <!--NAVBAR-->
        <div class="navbar">
            <nav class="navbar-menu">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="navbar-user">
                <ul>
                    <li>
                        <a href="/sign-up">
                            Crea tu cuenta
                            <i class="fa fa-id-card"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/sign-in">
                            Ingresa
                            <i class="fa fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mis compras
                            <i class="fa fa-shopping-basket"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="banner">
            <div class="container-banner">
                <img src="static/img/img-home-banner.jpg" alt="banner">
            </div>
        </section>
        <section class="recommended">
            <div class="container-recommended">
                <h2>Basado en tu última visita</h2>
                <article class="container-item">
                    <img src="static/img/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                    <div class="container-details">
                        <i class="fa fa-truck"></i>
                        <div class="container-price">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <strong class="description">Cafetera Moulinex</strong>
                    </div>
                </article>
                <article class="container-item">
                    <img src="static/img/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                    <div class="container-details">
                        <i class="fa fa-truck"></i>
                        <div class="container-price">
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <strong class="description">MacBook Pro 2019</strong>
                    </div>
                </article>
                <article class="container-item">
                    <img src="static/img/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                    <div class="container-details">
                        <i class="fa fa-truck"></i>
                        <div class="container-price">
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <strong class="description">Samsung Galaxy S10</strong>
                    </div>
                </article>
                <article class="container-item">
                    <img src="static/img/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                    <div class="container-details">
                        <i class="fa fa-truck"></i>
                        <div class="container-price">
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <strong class="description">SmartTv Samsung 43"</strong>
                    </div>
                </article>
            </div>
        </section>
        <section class="recommended">
            <div class="container-recommended">
                <h2>Basado en tu última visita</h2>
                <article class="container-item">
                    <img src="static/img/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                    <div class="container-details">
                        <i class="fa fa-truck"></i>
                        <div class="container-price">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <strong class="description">Cafetera Moulinex</strong>
                    </div>
                </article>
                <article class="container-item">
                    <img src="static/img/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                    <div class="container-details">
                        <i class="fa fa-truck"></i>
                        <div class="container-price">
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <strong class="description">MacBook Pro 2019</strong>
                    </div>
                </article>
                <article class="container-item">
                    <img src="static/img/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                    <div class="container-details">
                        <i class="fa fa-truck"></i>
                        <div class="container-price">
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <strong class="description">Samsung Galaxy S10</strong>
                    </div>
                </article>
                <article class="container-item">
                    <img src="static/img/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                    <div class="container-details">
                        <i class="fa fa-truck"></i>
                        <div class="container-price">
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <strong class="description">SmartTv Samsung 43"</strong>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section class="benefits">
            <article class="container-benefit">
                <i class="fa fa-credit-card"></i>
                <strong>Paga con tarjeta o en efectivo</strong>
                <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="container-benefit">
                <i class="fa fa-gift"></i>
                <strong>Envío gratis desde $2.500</strong>
                <p>Solo por estar registrado en Mercado Liebre tienes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="container-benefit">
                <i class="fa fa-user-shield"></i>
                <strong>Seguridad, de principio a fin</strong>
                <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </article>
        </section>
        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>