<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
</head>
<body>
    <header></header>
    <main>
        <form action="/" method="POST" class="">
            <h1>Acceso a Mercado Liebre</h1>
            <div class="">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" class="" required>
            </div>
            <div class="">
                <label for="surname">Apellido</label>
                <input type="text" name="surname" id="surname" class="" required>
            </div>
            <div class="user">
                <label for="">Usuario</label>
                <input type="text" name="user" id="user" class="" required>
            </div>
            <div class="">
                <label for="birthday">Nacimiento</label>
                <input type="date" name="birthday" id="birthday" class="" required>
            </div>
            <div class="">
                <label for="adress">Domicilio</label>
                <input type="text" name="adress" id="adress" class="" required>
            </div>
            <!-- RADIO BUTTONS -->
            <div class="">
                <label for="sell">Vender</label>
                <input type="radio" name="sell" id="sell" class="" required>
            </div>
            <div class="">
                <label for="buy">Comprar</label>
                <input type="radio" name="buy" id="buy" class="" required>
            </div>
            <!-- CHECKBOX -->
            <div class="">
                <label for="">Moda</label>
                <input type="checkbox" name="" id="" class="" required>
            </div>
            <div class="">
                <label for="">Electro</label>
                <input type="checkbox" name="" id="" class="" required>
            </div>
            <div class="">
                <label for="">Hogar</label>
                <input type="checkbox" name="" id="" class="" required>
            </div>
            <div class="">
                <label for="">Jugueteria</label>
                <input type="checkbox" name="" id="" class="" required>
            </div>
            <div class="">
                <label for="">Vida sana</label>
                <input type="checkbox" name="" id="" class="" required>
            </div>
            <!-- FOTO -->
            <div class="">
                <label for="photo">Foto</label>
                <input type="file" name="photo" id="photo" class="" required>
            </div>
            <!-- PASSWORD -->
            <div class="">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" class="" required>
            </div>
            <div class="">
                <label for="password">Confirmar Contraseña</label>
                <input type="password" name="password" id="password" class="" required>
            </div>
            <!-- BUTTON -->
            <div>
                <button type="reset">Reset</button>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer></footer>
</body>
</html>